[Desktop Entry]
Type=Application
Name=less-sheet
GenericName=Tabular Data Viewer
Comment=Open huge CSV and Parquet files instantly
Exec=less-sheet-gtk %f
Icon=com.lesssheet.LessSheet
Terminal=false
Categories=Office;Spreadsheet;
MimeType=application/vnd.apache.parquet;text/csv;application/csv;text/comma-separated-values;
StartupNotify=true
